/*selector {
	property: value;
	}*/

*{
	text-align: right; /* selectors(*) */
}

body{
	background-image: url(background.jpg);
	background-size: cover;
}


h2, p {
	color: red;
	text-align: center;
	border: 5px solid rgba(96, 59, 156,0.5);
	cursor: pointer;

}

p {
	color: 5E4590;

}

p{
	text-decoration:line-through;
	text-transform: uppercase;
	line-height:20px;
	font-style: italic; 
	font-weight: bold;
	font-size: 80%;
	font-family: 'Poppins', sans-serif;
}

li{
	list-style: none;
	display: inline-block;
}
img{
	float: right;
}
footer{
	clear:both;
	text-align: center;
}

.boxmodel {
	border:5px solid red;
	display: inline-block;
	padding: 5px 20px;
	margin: 0px 20px;
	height: 30px;
	width: 40px; 


}



.webtext {
	border: 5px dashed green; /* selectors(class) */
}
.active {
		color:blue;
}

#div1 {
	background: rgba(0,0,255,0.2); /* selectors(id) */
}
#div2{
	background:rgba(255,0,0,0.2);
}